*{
    margin: 0;
}
h1{
    text-align: center;
    /* color: white; */
    padding: 20px;
}
.header{
    /* background-color: black; */
    height: 80px;
}
.untad{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.profil{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
    border-color: aliceblue;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    box-shadow: 3px 3px 5px rgb(136, 134, 134);
}

hr{
    color: cyan;
    background-color: cyan;
}
.image{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: transparent;
}
.sosmed{
    margin-bottom: 20px ;
    width: 40px;
    padding: 0 0.5rem;
    transition: 1s;
}
/* .sosmed img{
} */
.sosmed:hover{
    width: 50px;
    
}
.sosmed1{
    text-align: center;
}
/* body{
    background-color: rgb(53, 53, 56);
} */
